{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
    <title>{% block pagetitle %}Scam Searcher{% endblock %}</title>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <meta name="description" content="Automatically search and monitor internet for scam." />
    <meta name="keywords" content="Automatically search and monitor internet for scam." />
    <meta name="robots" content="index, follow" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{% static 'screen.css' %}" media="screen" />
</head>
<body>

<div id="header">
    <h1>SCAM SEARCHER</h1>
    <h2>Search for scam website, automatically</h2>
    <ul>
    {% block mainmenu %}
    {% endblock %}
    </ul>
</div>
<div class="colmask leftmenu">
    <div class="colleft">
        <div class="col1">
            <!-- Column 1 start -->
            {% block content %} {% endblock %}
            <!-- Column 1 end -->
        </div>
        <div class="col2">
            <!-- Column 2 start -->
            {% block navigation %} {% endblock %}
            {% block subnavigation %} {% endblock %}
            <!-- Column 2 end -->
        </div>
    </div>
</div>
<div id="footer">
    <a href="https://github.com/essanpupil" target="_blank">github.com/essanpupil</a><br />
    <a href="https://www.facebook.com/essanpupil" target="_blank">facebook.com/esssanpupil</a><br />
    <a href="https://twitter.com/essanpupil" target="_blank">twitter.com/essanpupil</a><br />
    <a href="http://id.linkedin.com/in/essanpupil" target="_blank">linkedin.com/essanpupil</a><br />
    Copyright pupil 2015
</div>
</body>
</html>
