{% extends "base.html" %}

{% block content %}
<h4>Profile user:{{ user.username }}</h4>
<table>
<tr><th>Username</th><td>{{ user.get_username }}</td></tr>
<tr><th>Nama lengkap</th><td>{{ user.get_full_name }}</td></tr>
<tr><th>Email</th><td>{{ user.email }}</td></tr>
<tr><th>Apakah user ini termasuk staff?</th><td>{{ user.is_staff|yesno:"ya,tidak" }}</td></tr>
<tr><th>Apakah user ini termasuk superuser</th><td>{{ user.is_superuser|yesno:"Ya,tidak" }}</td></tr>
<tr><th>Tindakan</th><td><a href="{% url 'password_change' %}">Ubah password</a></td></tr>
</table>
{% endblock %}
