{% extends 'operation/keywords/keywords.html' %}
{% block pagetitle %}Add new keyword | ScamSearcher{% endblock %}
{% block content %}
<h3>Add new keyword</h3>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'operation:process_add_new_keyword' %}" method="post">
{% csrf_token %}
<table>
<tr><td>New keyword</td><td><input type="text" name="words" size="70" /></td></tr>
<tr>
    <td>Search area</td>
    <td>
        <input type="radio" name="search_area" value="url" /> url
        <input type="radio" name="search_area" value="webpage" /> Webpage
    </td>
</tr>
<tr>
    <td colspan="2">
        <input type="submit" value="Submit new keyword" />
        <input type="reset" value="Clear all" />
    </td>
</tr>
</table>
</form>
{% endblock %}