{% extends "operation/index.html" %}
{% block pagetitle %}Keywords view | ScamSearcher{% endblock %}
{% block content %}
<h3>Keywords</h3>
<table>
    <tr><th>No.</th><th>Keywords</th><th>Search Area</th><th>Inserted Date</th><th>Inserted by</th><th>Action</th></tr>
    {% for keyword in keywords %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ keyword.words }}</td>
            <td>{{ keyword.search_area }}</td>
            <td>{{ keyword.create_time }}</td>
            <td>{{ keyword.user.username }}</td>
            <td><a href="{% url 'operation:manual_search_webpages' keyword.id %}">Search now</a></td>
        </tr>
     {% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        {% if keywords.has_previous %}
            <a href="?page={{ keywords.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ keywords.number }} of {{ keywords.paginator.num_pages }}.
        </span>

        {% if keywords.has_next %}
            <a href="?page={{ keywords.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
{% block navigation %}
<ul>
    <li><a href="{% url 'operation:add_new_keyword' %}">Add keyword</a></li>
</ul>
{% endblock %}