{% extends "operation/index.html" %}
{% block pagetitle %}Dashboard view | ScamSearcher{% endblock %}
{% block content %}<h3>Dashboard</h3>
<p>This page will display the summary information about all the information saved in the database.</p>
<p>Keyword is the string entered by operator, used to make an early query to search engine. When the search is made and we have the result, the keyword will be replace by tokens in the web page.</p>
<p>Keyword can also be used to monitor the internet. We do this by periodically searching inside the url using keyword.</p>
{% endblock %}
{% block navigation %}Custom view{% endblock %}