{% extends 'base.html' %}
{% block navigation %}{% include 'website_management/website_nav.html' %}{% endblock %}
{% block pagetitle %}Tambahkan kata kunci pencarian | ScamSearcher{% endblock %}
{% block content %}
<h3>Tambahkan kata kunci pencarian</h3>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="" method="post">
{% csrf_token %}
{{ form.as_p }}
<br />
<br />
<input type="submit" value="Simpan kata kunci pencarian" />
<input type="reset" value="Bersihkan area input data" />
</form>
{% endblock %}
