{% extends 'base.html' %}
{% block pagetitle %}Welcome to ScamSearcher Project{% endblock %}
{% block navigation %}
    {% include 'website_management/website_nav.html' %}
{% endblock %}
{% block content-heading %}Summary information{% endblock %}
{% block content-body %}
    <table class="table table-bordered table-condensed">
        <tr>
            <th align="left">Total websites</th><td>{{ hp_count }}</td>
        </tr>
    </table>
    <table class="table table-bordered table-condensed">
        <tr><th>Latest added websites</th></tr>
        {% for hp in newest_5_hp %}
        <tr>
            <td>
                <a href="{% url 'website_management:homepage_detail' hp.id %}">
                    {{ hp.name }}
                </a>
            </td>
        </tr>
        {% empty %}
        <tr><td>Homepage database empty</td></tr>
        {% endfor %}
    </table>
{% endblock %}
