{% extends 'base.html' %}
{% block navigation %}
    {% include 'website_management/website_nav.html' %}
{% endblock %}
{% block content-heading %}Website detail{% endblock %}
{% block content-body %}
    <table class="table table-bordered">
        <tr>
            <th align="left">Homepage Name</th>
            <td>
                    {{ hpname }}
            </td>
        </tr>
        <tr>
            <th align="left">Date Added</th>
            <td>{{ hpadded }}</td>
        </tr>
        <tr>
            <th align="left">Free Domain</th>
            <td>{{ is_free_domain }}</td>
        </tr>
        <tr>
            <th align="left">Site Status</th>
            <td>{{ site_status }}</td>
        </tr>
        <tr>
            <th align="left">Scam Status</th>
            <td>{{ scam_status }}</td>
        </tr>
    </table>
{% endblock %}
