{% extends 'base.html' %}
{% block navigation %}
{% include 'website_management/website_nav.html' %}
{% endblock %}
{% block content %}
<h3>Homepage detail</h3>
<table>
    <tr>
        <th align="left">Homepage Name</th>
        <td>
            <a href="{{ hpname }}" target="_blank">
                {{ hpname }}
            </a>
        </td>
    </tr>
    <tr>
        <th align="left">Date added</th>
        <td>{{ hpadded }}</td>
    </tr>
    <tr>
        <th align="left">Domain</th>
        <td>
        {% if hpdomain != 'None' %}
            <a href="{% url 'website_management:domain_detail' iddom %}">
                {{ hpdom }}
            </a>
        {% else %}
            None
        {% endif %}
        </td>
    </tr>
    <tr>
        <th align="left">Webpages</th>
        <td>
        {% for web in hpweb %}
            <a href="{% url 'website_management:webpage_detail' web.id %}">
                {{ web.url }}
            </a>
        {% empty %}
            No webpage use this homepage
        {% endfor %}
        </td>
    </tr>
</table>
{% endblock %}
