{% extends "base.html" %}
{% block pagetitle %}View all keywords{% endblock %}
{% block navigation %}
    {% include "website_management/website_nav.html" %}
{% endblock %}
{% block content-heading %}<h3>View all keywords</h3>{% endblock %}
{% block content-body %}
    {{ error_message }}
    <table id="table_keywords" class="table table-bordered table-condensed">
        <tr>
            <th>No.</th>
            <th>Keyword</th>
            <th>Times Used</th>
            <th>Date Added</th>
        </tr>
        {% for query in queries %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ query.keyword }}</td>
                <td>{{ query.times_used }}</td>
                <td>{{ query.date_added }}</td>
            </tr>
        {% empty %}
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
