{% extends 'base.html' %}
{% block navigation %}
    {% include 'website_management/website_nav.html' %}
{% endblock %}
{% block content %}
<h3>Lihat semua kata kunci pencarian</h3>
{{ error_message }}
<table>
    <tr>
        <th>No.</th>
        <th>Kata kunci pencarian</th>
        <th>Jumlah penggunaan</th>
        <th>Tanggal ditambahkan ke database</th>
    </tr>
    {% for query in queries %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ query.keyword }}</td>
            <td>{{ query.times_used }}</td>
            <td>{{ query.date_added }}</td>
        </tr>
    {% empty %}
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
