{% extends "content-wrapper.html" %}
{% block content-heading %}View all keywords{% endblock %}
{% block content-body %}
    {{ error_message }}
    <table class="table table-bordered">
        <tr>
            <th>No.</th>
            <th>Keyword</th>
            <th>Times Used</th>
            <th>Date Added</th>
        </tr>
        {% for query in queries %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ query.keyword }}</td>
                <td>{{ query.times_used }}</td>
                <td>{{ query.date_added }}</td>
            </tr>
        {% empty %}
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
