<h4>Navigation</h4>
<ul>
    <li><a href="{% url 'website_management:add_new_webpage' %}">Add new webpage</a></li>
    <li><a href="{% url 'website_management:view_all_webpage' %}">View all webpage</a></li>
    <li><a href="{% url 'website_management:add_new_homepage' %}">Add new homepage</a></li>
    <li><a href="{% url 'website_management:view_all_homepage' %}">View all homepage</a></li>
    <li><a href="{% url 'website_management:add_new_domain' %}">Add new domain</a></li>
    <li><a href="{% url 'website_management:view_all_domain' %}">View all domain</a></li>
</ul>
