<h3>Website management navigation</h3>
<ul>
    <li>
        <a href="{% url 'website_management:search_webpage' %}">
            Search webpage
        </a>
    </li>
    <li>
        <a href="{% url 'website_management:view_search_result' %}">
            View Search Result
        </a>
    </li>
    <li>
        <a href="{% url 'website_management:add_new_keyword' %}">
            Add new keyword
        </a>
    </li>
    <li>
        <a href="{% url 'website_management:view_all_keywords' %}">
            View all keywords
        </a>
    </li>
    <li>
        <a href="{% url 'website_management:add_new_webpage' %}">
            Add new webpage manually
        </a>
    </li>
    <li>
        <a href="{% url 'website_management:view_all_webpages' %}">
            View all webpages
        </a>
    </li>
    <li>
        <a href="{% url 'website_management:view_all_homepages' %}">
            View all homepages
        </a>
    </li>
    <li>
        <a href="{% url 'website_management:view_all_domains' %}">
            View all domain
        </a>
    </li>
</ul>
