<div class="panel panel-primary">
    <div class="panel-heading">
        Website management navigation
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{% url 'website_management:view_all_keywords' %}">
                    View all keywords
                </a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'website_management:view_all_homepages' %}">
                    View all websites
                </a>
            </li>
        </ul>
    </div>
</div>
