{% extends 'base.html' %}
{% block navigation %}
    {% include 'website_analyzer/analyst_nav.html' %}
{% endblock %}
{% block content %}
<h3>Add Known Scam Website</h3>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'website_analyzer:add_scam_website' %}" method="post">
{% csrf_token %}
{{ form.as_p }}
<br />
<br />
<input type="submit" value="Submit scam website" />
<input type="reset" value="Clear input area" />
</form>
<strong>Website inserted from this form will automatically mark as scam</strong>
To insert non-scam website, go to 
<a href="{% url 'website_management:add_new_webpage' %}">/website_management/add_new_webpage</a>
{% endblock %}
