<h4>Navigasi menu analisa</h4>
<ul>
    <li>
        <a href="{% url 'website_analyzer:view_websites' %}">
            Lihat data analisa situs
        </a>
    </li>
    <li>
        <a href="{% url 'website_analyzer:view_analyst_domains' %}">
            Lihat data analisa domain
        </a>
    </li>
    <li>
        <a href="{% url 'website_analyzer:view_sequence' %}">
            Lihat parameter analisa
        </a>
    </li>
{% if user.is_superuser %}
    <li>
        <a href="{% url 'website_analyzer:add_sequence' %}">
            Tambah parameter analisa
        </a>
    </li>
{% endif %}
    <li>
        <a href="{% url 'website_analyzer:view_analyst_result' %}">
            Lihat hasil analisa
        </a>
    </li>
</ul>
