<div class="panel panel-primary">
    <div class="panel-heading">Analyst navigation</div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{% url 'website_analyzer:add_sequence' %}">
                    Add search keywords
                </a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'website_analyzer:add_sequence' %}">
                    Add analytic parameter
                </a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'website_management:view_all_keywords' %}">
                    View search keywords
                </a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'website_analyzer:view_sequence' %}">
                    View analytic parameter
                </a>
            </li>
        </ul>
    </div>
</div>
