{% extends 'base.html' %}
{% block navigation %}
    {% include 'website_analyzer/analyst_nav.html' %}
    {% include 'website_analyzer/website_analyzer_nav.html' %}
{% endblock %}
{% block content %}
<h3>Analyze website</h3>
<table>
    {% if error_warning == "error" %}
        <tr>
            <th align="left"><strong>website ini mengandung informasi palsu</strong></th>
            <td><ul>{% for err in error_warning_msg %}
                    <li><strong>{{ err.parameter }}</strong></li>
                    {% endfor %}
            </ul></td>
        </tr>
    {% endif %}
    <tr>
        <th align="left">Homepage name</th><td>{{ name }}</td>
    </tr>
    <tr>
        <th align="left">Domain name</th><td>{{ domain }}</td>
    </tr>
    <tr>
        <th align="left">Date added</th><td>{{ date_added|date:"d M Y" }}</td>
    </tr>
    <tr>
        <th align="left">Inspection status</th><td>{{ inspection|yesno:"Inspected, Not Inspected, Unknown" }}</td>
    </tr>
    <tr>
        <th align="left">Scam status</th><td>{{ scam|yesno:"Yes, No, Unknown" }}</td>
    </tr>
    <tr>
        <th align="left">Report status</th><td>{{ report|yesno:"Reported, Not Reported, Unknown" }}</td>
    </tr>
    <tr>
        <th align="left">Access status</th><td>{{ access|yesno:"Accessible, Not Accessible, Unknown" }}</td>
    </tr>
    <tr>
        <th align="left">Whitelist status</th><td>{{ whitelist|yesno:"Yes, No, Unknown" }}</td>
    </tr>
    <tr>
        <th align="left">String analys result</th>
        <td>True = {{ string_analyst_result.tru }}<br />False = {{ string_analyst_result.fals }}<br />None = {{ string_analyst_result.non }}</td>
    </tr>
    <tr>
        <th align="left">String Analist duration</th><td>{{ duration }}</td>
    </tr>
    <tr>
        <th align="left">Average ratio compare</th><td>{{ average_ratio_compare }}</td>
    </tr>
    <tr>
        <th align="left">Ratio Analist duration</th><td>{{ ratio_duration }}</td>
    </tr>
        <th align="left">Times string analyzed</th><td>{{ times_string_analyzed }}</td>
    </tr>
    <tr>
        <th align="left">Times ratio analyzed</th><td>{{ times_ratio_analyzed }}</td>
    </tr>
    <tr>
        <th align="left">Full crawl</th><td>{{ full_crawl }}</td>
    </tr>
    <tr>
        <th align="left">Use As Parameter</th><td>{{ as_parameter }}</td>
    </tr>
    <tr>
        <th align="left" valign="top">List of webpages</th>
        <td>
            {% for web in webpages %}
                <a href="{% url 'website_analyzer:analyze_webpage' web.id %}"
                    title="{{ web.url }}">
                    {{ web.url|truncatechars:80 }}<br />
                </a>
            {% empty %}
                This website does not have webpages
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th align="left">List of sequence</th>
        <td>
            {% for seq in params %}
            <div style="border:1px solid black;">
                <p>{{ seq.parameter }}</p>
                <p>{{ seq.webpage }}</p>
                <p>{{ seq.find }}</p>
                <p>{{ seq.time }}</p>
            </div>
            {% empty %}
                This website does not have matching sequence
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th align="left">Ratio comparison</th>
        <td>
            {% for compare in webpage_compare_ratio %}
            <div style="border:1px solid black;">
                <p>{{ compare.parameter }}</p>
                <p>{{ compare.target }}</p>
                <p>{{ compare.ratio }}</p>
                <p>{{ compare.compare_time }}</p>
            </div>
            {% empty %}
                This website does not have comparison ratio data
            {% endfor %}
        </td>
    </tr>
</table>
{% endblock %}
