{% extends 'base.html' %}
{% block navigation %}
    {% include 'website_analyzer/website_analyzer_nav.html' %}
{% endblock %}
{% block content %}
<h3>Analyze website</h3>
<table>
    <tr>
        <th align="left">Homepage name</th><td>{{ name }}</td>
    </tr>
    <tr>
        <th align="left">Domain name</th><td>{{ domain }}</td>
    </tr>
    <tr>
        <th align="left">Date added</th><td>{{ date_added|date:"d M Y" }}</td>
    </tr>
    <tr>
        <th align="left">Inspection status</th><td>{{ inspection }}</td>
    </tr>
    <tr>
        <th align="left">Scam status</th><td>{{ scam }}</td>
    </tr>
    <tr>
        <th align="left">Report status</th><td>{{ report }}</td>
    </tr>
    <tr>
        <th align="left">Access status</th><td>{{ access }}</td>
    </tr>
    <tr>
        <th align="left">Whitelist status</th><td>{{ whitelist }}</td>
    </tr>
    <tr>
        <th align="left">List of webpages</th>
        <td>
            {% for web in webpages %}
                <a href="{% url 'website_management:webpage_detail' web.id %}">
                    {{ web.url }}
                </a>
            {% empty %}
                This website does not have webpages
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th align="left">List of sequence</th>
        <td>
            {% for seq in params %}
                <p>{{ seq.parameter }}</p>
                <p>{{ seq.web }}</p>
            {% empty %}
                This website does not have matching sequence
            {% endfor %}
        </td>
    </tr>
</table>
{% endblock %}
