{% extends 'base.html' %}
{% block navigation %}{% include "website_analyzer/analyst_nav.html" %}{% endblock %}
{% block content-heading %}Analyst summary information{% endblock %}
{% block content-body %}
    <table class="table table-bordered">
        <tr>
            <th align="left">Total scam websites</th><td>{{ scam_count }}</td>
        </tr>
        <tr>
            <th align="left">Total whitelist websites</th><td>{{ whitelist_count }}</td>
        </tr>
        <tr>
            <th align="left">Total Websites</th><td>{{ hp_count }}</td>
        </tr>
    </table>
{% endblock %}
