{% extends 'base.html' %}
{% block navigation %}
    {% include 'website_analyzer/analyst_nav.html' %}
    {% include 'website_analyzer/website_analyzer_nav.html' %}
{% endblock %}
{% block content %}
<h3>Edit  website analyst data for: {{ homepage.name }}</h3>
<form action="{% url 'website_analyzer:edit_analyst' homepage.id %}"
      method="post">
{% csrf_token %}
<table>
    {{ form }}
</table>
<input type="submit" value="Save Edit" />
<a href="{% url 'website_analyzer:edit_analyst' homepage.id %}">
    Cancel edit and return
</a>
</form>
{% endblock %}
