    <h4>Navigasi halaman</h4>
<div class="pagination">
    <span class="step-links">
        {% if pagebase.has_previous %}
            {% if request.GET|length == 0 %}
            <a href="?page={{ pagebase.previous_page_number }}">sebelumnya</a>
            {% else %}
            <a href="{{ request.get_full_path }}&page={{ pagebase.previous_page_number }}">sebelumnya</a>
            {% endif %}
        {% endif %}

        <span class="current">
            Halaman {{ pagebase.number }} dari {{ pagebase.paginator.num_pages }}.
        </span>

        {% if pagebase.has_next %}
            {% if request.GET|length == 0 %}
            <a href="?page={{ pagebase.next_page_number }}">selanjutnya</a>
            {% else %}
            <a href="{{ request.get_full_path }}&page={{ pagebase.next_page_number }}">selanjutnya</a>
            {% endif %}
        {% endif %}
    </span>
</div>
