{% extends 'base.html' %}
{% block navigation %}
    {% include 'website_analyzer/analyst_nav.html' %}
    <h4>Page Navigation</h4>
<div class="pagination">
    <span class="step-links">
        {% if parameters.has_previous %}
            <a href="?page={{ parameters.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ parameters.number }} of {{ parameters.paginator.num_pages }}.
        </span>

        {% if parameters.has_next %}
            <a href="?page={{ parameters.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
{% block content %}
<h3>View String parameters</h3>
<table>
    <tr>
        <th>
           No.
        </th>
        <th>
           String parameter
        </th>
        <th>
           Target analyze
        </th>
        <th>
            Definitive
        </th>
        <th>
           Date Added
        </th>
        <th>
          Times used 
        </th>
    </tr>
    {% for parameter in parameters %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'website_analyzer:edit_sequence' parameter.id %}" >
                    {{ parameter.sentence }}</a></td>
            <td>{{ parameter.target_analyze }}</td>
            <td>{{ parameter.definitive }}</td>
            <td>{{ parameter.date_added }}</td>
            <td>{{ parameter.times_used }}</td>
        </tr>
    {% empty %}
        String Parameter database is empty
    {% endfor %}
</table>
{% endblock %}
