{% extends 'base.html' %}
{% block navigation %}
    {% include 'website_analyzer/analyst_nav.html' %}
    <form action="" method="get">
        {{ filter.form.as_p }}
        <br />
        <input type="submit" value="submit filter" />
    </form>
    {% include 'website_analyzer/search.html' %}
{% endblock %}
{% block content %}
<h3>View Analyst Websites</h3>
<table>
    <tr>
        <th style="padding:2px;">No</th>
        <th style="padding:2px;">Website name</th>
        <th style="padding:2px;">Scam?</th>
        <th style="padding:2px;">Whitelist?</th>
        <th style="padding:2px;">Emailed to staff</th>
        <th style="padding:2px;">Emailed to client</th>
    </tr>
    {% for web in divided_websites %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><span title="{{ web.name }}">
                <a href="{% url 'website_analyzer:analyze_website' web.id %}">
                    {{ web.name|truncatechars:50 }}</a></span></td>
        <td>{{ web.scam }}</td>
        <td>{{ web.whitelist }}</td>
        <td>{{ web.emailed_to_staff }}</td>
        <td>{{ web.emailed_to_client }}</td>
    </tr>
    {% empty %}
        Website database is empty
    {% endfor %}
</table>
{% endblock %}
