{% extends 'base.html' %}
{% block navigation %}
    {% include 'website_analyzer/analyst_nav.html' %}
    <h4>Navigasi halaman</h4>
<div class="pagination">
    <span class="step-links">
        {% if parameters.has_previous %}
            <a href="?page={{ parameters.previous_page_number }}">sebelumnya</a>
        {% endif %}

        <span class="current">
            Halaman {{ parameters.number }} dari {{ parameters.paginator.num_pages }}.
        </span>

        {% if parameters.has_next %}
            <a href="?page={{ parameters.next_page_number }}">selanjutnya</a>
        {% endif %}
    </span>
</div>
{% endblock %}
{% block content %}
<h3>Daftar parameter analisa</h3>
<table>
    <tr>
        <th>
           No.
        </th>
        <th>
           Parameter analisa
        </th>
        <th>
           Target analisa
        </th>
        <th>
            Definitif
        </th>
        <th>
           Tanggal ditambahkan
        </th>
        <th>
          Jumlah penggunaan
        </th>
        <th>
          Klien penggguna
        </th>
    </tr>
    {% for parameter in parameters %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'website_analyzer:edit_sequence' parameter.id %}" >
                    {{ parameter.sentence }}</a></td>
            <td>{{ parameter.target_analyze }}</td>
            <td>{{ parameter.definitive|yesno:"Ya, Tidak" }}</td>
            <td>{{ parameter.date_added }}</td>
            <td>{{ parameter.times_used }}</td>
            <td><ul>
                {% for client in  parameter.clients %}
                    <li>{{ client }}</li>
                {% empty %}
                    Tidak ada klien pengguna
                {% endfor %}
            </ul></td>
        </tr>
    {% empty %}
        Data parameter kosong
    {% endfor %}
</table>
{% endblock %}
