{% extends 'base.html' %}
{% block navigation %}
    {% include 'website_analyzer/analyst_nav.html' %}
{% endblock %}
{% block content %}
<h3>View String parameters</h3>
<table>
    <tr>
        <th>
           No.
        </th>
        <th>
           String parameter
        </th>
        <th>
           Definitive
        </th>
        <th>
           Date Added
        </th>
    </tr>
    {% for parameter in parameters %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ parameter.sentence }}</td>
            <td>{{ parameter.definitive }}</td>
            <td>{{ parameter.date_added }}</td>
        </tr>
    {% empty %}
        String Parameter database is empty
    {% endfor %}
</table>
{% endblock %}
