<h4>Website analyzer navigation</h4>
<ul>
    <li>
        <a href="{% url 'website_analyzer:crawl_website' id %}">
            Crawl website
        </a>
    </li>
    <li>
        <a href="{% url 'website_analyzer:detail_analyst_domain' domain_id %}">
            Detail analyst domain
        </a>
    </li>
    <li>
        <a href="{% url 'website_analyzer:edit_analyst' id %}">
            Edit analyst data
        </a>
    </li>
    <li>
        <a href="{% url 'website_analyzer:start_sequence_analysist' id %}">
            Start sequence analysist
        </a>
    </li>
    <li>
        <a href="{% url 'website_analyzer:send_email_notification' id %}">
            Send email notification
        </a>
    </li>
</ul>
