{% extends 'operation/webpages/webpages.html' %}
{% block pagetitle %}Add new web page manualy | ScamSearcher{% endblock %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'operation:process_add_new_webpage' %}" method="post">
{% csrf_token %}
<table>
<tr><td>New web page url</td><td><input type="text" name="url" /></td></tr>
<tr><td colspan="2"><input type="submit" value="Submit new web page" /></td></tr>
</table>
</form>
{% endblock %}
