{% extends 'base.html' %}
{% block navigation %}{% include 'administrative/admin_nav.html' %}{% endblock %}
{% block pagetitle %}Add new client | ScamSearcher{% endblock %}
{% block content %}
<h3>Add new client</h3>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'administrative:add_client' %}" method="post">
{% csrf_token %}
{{ form.as_p }}
<br />
<br />
<input type="submit" value="Add new client" />
<input type="reset" value="Clear input area" />
</form>
{% endblock %}
