{% extends 'base.html' %}
{% block navigation %}{% include 'website_management/website_nav.html' %}{% endblock %}
{% block pagetitle %}Add new web page manualy | ScamSearcher{% endblock %}
{% block content %}
<h3>Add new webpage for {{ client.name }}</h3>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'administrative:add_homepage' client.id %}" method="post">
{% csrf_token %}
{{ form.as_p }}
<br />
<br />
<input type="submit" value="Save new webpage" />
<input type="reset" value="Clear input area" />
</form>
{% endblock %}
