{% extends 'base.html' %}
{% block navigation %}{% include 'administrative/admin_nav.html' %}{% endblock %}
{% block pagetitle %}Tambah user baru | ScamSearcher{% endblock %}
{% block content %}
<h3>Tambah user baru</h3>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'administrative:add_user' %}" method="post">
{% csrf_token %}
{{ form.as_p }}
<br />
<br />
<input type="submit" value="Simpan data user" />
<input type="reset" value="Bersihkan area input" />
</form>
{% endblock %}
