<h3>Administrative navigation</h3>
<ul>
    <li>
        <a href="{% url 'administrative:add_client' %}">
            Add client
        </a>
    </li>
    <li>
        <a href="{% url 'administrative:view_client' %}">
            View client
        </a>
    </li>
    <li>
        <a href="{% url 'administrative:add_event' %}">
            Add event
        </a>
    </li>
    <li>
        <a href="{% url 'administrative:view_event' %}">
            View event
        </a>
    </li>
    <li>
        <a href="{% url 'administrative:add_operator' %}">
            Add operator
        </a>
    </li>
    <li>
        <a href="{% url 'administrative:view_operator' %}">
            View Operator
        </a>
    </li>
</ul>
