{% extends 'base.html' %}
{% block navigation %}
{% include 'administrative/admin_nav.html' %}
{% endblock %}
{% block content %}
<h3>Rangkuman informasi administratif</h3>
<table>
    <tr>
        <th align="left">Jumlah Operator</th><td>{{ operators.count|default:'0' }}</td>
    </tr>
    <tr>
        <th align="left">Jumlah Klien</th><td>{{ clients.count|default:'0' }}</td>
    </tr>
    <tr>
        <th align="left">Jumlah Even</th><td>{{ events.count|default:'0' }}</td>
    </tr>
</table>
<br />
<table>
    <tr><th>Operator terbaru</th></tr>
    {% for opt in operators.last_added %}
    <tr>
        <td>{{ opt.name }}</td>
    </tr>
    {% empty %}
    <tr><td>Data operator kosong</td></tr>
    {% endfor %}
</table>

<br />
<table>
    <tr><th>Klien terbaru</th></tr>
    {% for client in clients.last_added %}
    <tr>
        <td>
            <a href="{% url 'administrative:detail_client' client.id %}">
                {{ client.name }}
            </a>
        </td>
    </tr>
    {% empty %}
    <tr><td>Data klien kosong</td></tr>
    {% endfor %}
</table>

<br />
<table>
    <tr><th>Even terbaru</th></tr>
    {% for event in events.last_added %}
    <tr>
        <td>
            <a href="{% url 'administrative:detail_event' event.id %}">
                {{ event.name }}
            </a>
        </td>
    </tr>
    {% empty %}
    <tr><td>Data even kosong</td></tr>
    {% endfor %}
</table>
{% endblock %}
