{% extends 'base.html' %}
{% block navigation %}
    {% include 'administrative/admin_nav.html' %}
    {% include 'administrative/client_detail_nav.html' %}    
{% endblock %}
{% block pagetitle %}Delete client's homepage | ScamSearcher{% endblock %}
{% block content %}
<h3>Delete Homepage from {{ client.name }}</h3>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'administrative:detail_client' client.id %}" method="post">
{% csrf_token %}
{{ form.as_p }}
<br />
<input type="submit" value="Delete client's homepage" />
<input type="reset" value="Clear input area" />
</form>
{% endblock %}
