{% extends 'base.html' %}
{% block pagetitle %}Lihat daftar klien | ScamSearcher{% endblock %}
{% block navigation %}
    {% include 'administrative/admin_nav.html' %}
    <h4>Navigasi halaman</h4>
    <div class="pagination">
        <span class="step-links">
            {% if clients.has_previous %}
                <a href="?page={{ clients.previous_page_number }}">sebelumnya</a>
            {% endif %}

            <span class="current">
                Halaman {{ clients.number }} dari {{ clients.paginator.num_pages }}.
            </span>

            {% if clients.has_next %}
                <a href="?page={{ clients.next_page_number }}">Selanjutnya</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
{% block content %}
<h3>Daftar klien</h3>
{{ error_message }}
<table>
    <tr>
        <th>No.</th>
        <th>Nama klien</th>
        <th>Alamat email klien</th>
        <th>Nomor telepon klien</th>
        <th>Status klien</th>
        <th>Alamat klien</th>
        <th>Tindakan selanjutnya</th>
    </tr>
    {% for client in clients %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ client.name }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.phone }}</td>
            <td>{{ client.status }}</td>
            <td>{{ client.address }}</td>
            <td>
                <a href="{% url 'administrative:detail_client' client.id %}">
                    Detail
                </a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
