{% extends 'base.html' %}
{% block pagetitle %}View client's sequence | ScamSearcher{% endblock %}
{% block navigation %}
    {% include 'administrative/admin_nav.html' %}
    {% include 'administrative/client_detail_nav.html' %}
    <h4>Page navigation</h4>
    <div class="pagination">
        <span class="step-links">
            {% if sequences.has_previous %}
                <a href="?page={{ sequences.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ sequences.number }} of {{ sequences.paginator.num_pages }}.
            </span>

            {% if sequences.has_next %}
                <a href="?page={{ sequences.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
{% block content %}
<h3>Sequences belong to: <a href="{% url 'administrative:detail_client' client.id %}" />{{ client.name }}</a></h3>
{{ error_message }}
<table>
    <tr>
        <th>No.</th>
        <th>Sequence</th>
        <th>Event</th>
        <th>Definitive</th>
    </tr>
    {% for sequence in sequences %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ sequence.name }}</td>
            <td>{{ sequence.event }}</td>
            <td>{{ sequence.definitive }}</td>
        </tr>
    {% empty %}
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
