{% extends 'base.html' %}
{% block pagetitle %}View client's operators | ScamSearcher{% endblock %}
{% block navigation %}
    {% include 'administrative/admin_nav.html' %}
    {% include 'administrative/client_detail_nav.html' %}
    <h4>Page navigation</h4>
    <div class="pagination">
        <span class="step-links">
            {% if operators.has_previous %}
                <a href="?page={{ operators.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ operators.number }} of {{ operators.paginator.num_pages }}.
            </span>

            {% if operators.has_next %}
                <a href="?page={{ operators.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
{% block content %}
<h3>Operators for: <a href="{% url 'administrative:detail_client' client.id %}" />{{ client.name }}</a></h3>
{{ error_message }}
<table>
    <tr>
        <th>No.</th>
        <th>Username</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Status</th>
        <th>Date start</th>
        <th>Date end</th>
        <th>Action</th>
    </tr>
    {% for operator in operators %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ operator.username }}</td>
            <td>{{ operator.fullname }}</td>
            <td>{{ operator.email }}</td>
            <td>{{ operator.status }}</td>
            <td>{{ operator.time_start }}</td>
            <td>{{ operator.time_end }}</td>
            <td>
            <a href="{% url 'administrative:edit_operator' operator.id %}" />
                    Edit
                </a>
                &nbsp;
                <a href="{% url 'administrative:delete_operator' operator.id %}" />
                    Delete
                </a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
