{% extends 'operation/index.html' %}
{% block pagetitle %}View and manage tokens | ScamSearcher{% endblock %}
{% block content %}
<h3>View all tokens saved in the database.</h3>
<table>
    <tr><th>No.</th><th>Token</th><th>Actions</th></tr>
{% for token in tokens %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><p title="{{ token.sentence }}">{{ token.sentence|truncatechars:100 }}</p></td>
        <td><a href="{% url 'operation:manual_search_webpages' token.id %}">Search now</a></td>
    </tr>
{% empty %}
Token database is empty
{% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        {% if tokens.has_previous %}
            <a href="?page={{ tokens.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ tokens.number }} of {{ tokens.paginator.num_pages }}.
        </span>

        {% if tokens.has_next %}
            <a href="?page={{ tokens.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
{% block navigation %}
<h4>Navigation</h4>
{% endblock %}
